.modalWrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.15);
  display: none;
  justify-content: flex-end;
}

.show {
  display: flex;
}

.orderForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

.orderFormElement {
  margin-bottom: 2rem;
}

.inputDropdown {
  position: relative;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.2), 0px 0px 16px rgba(0, 0, 0, 0.15),
    0px 0px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 480px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 56px;
  background: #459df5;
}

.cardHeaderText {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #bad8f5;
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
  padding: 8px 16px;
  background: #ebf0f5;
}

.cardFooterText {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #f53152;
  margin: 1rem;
}

.closeButton {
  height: 16px;
  width: 16px;
  padding: 0;
  border: none;
  background: inherit;
  cursor: pointer;
}

.closeIcon {
  fill: #ffffff;
  stroke: #ffffff;
}
