.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  background: none;
}

.white {
  background: #459df5;
  color: #ffffff;
}

.blue {
  color: #459df5;
}

.black {
  color: #000000;
}

.medium {
  height: 32px;
}

.small {
  padding: 4px 8px;
  height: 24px;
}

.icon {
  height: 16px;
  width: 16px;
  fill: #ffffff;
}

.blue .icon {
  fill: #459df5;
  stroke: #459df5;
}

.black .icon {
  fill: #000000;
}

.medium .icon + .text {
  margin-left: 8px;
}

.small .icon + .text {
  margin-left: 4px;
}

.onlyIcon {
  padding: 8px;
}

.small ~ .onlyIcon {
  padding: 4px;
}

.fullWidth {
  width: 100%;
}
