.wrapperTable {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.laptopsTable {
  height: 100%;
}

.tableBody {
  height: 100%;
}

.tableFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inStock {
  color: #459df5;
}

.outOfStock {
  color: goldenrod;
}
