.tableCell {
  display: flex;
  flex: 1;
  padding: 8px;
  align-items: center;
}

.inStock {
  color: #459df5;
}

.outOfStock {
  color: goldenrod;
}

.arrowIcon {
  fill: #ffffff;
  height: 1rem;
  width: 1rem;
}

.reverseSort {
  transform: rotate(180deg);
}
